<div class="container-main">
  <form (ngSubmit)="onSubmit()" #orderForm="ngForm">
    <div class="container-details">
      <label for="name">Name:</label>
      <input type="text" name="name" placeholder="Name" [(ngModel)]="userDetails.name" required />

      <label for="contactDetails">Contact Details</label>
      <input type="number" name="contactDetails" placeholder="Contact" [(ngModel)]="userDetails.contact" required />
    </div>

    <div class="container-order">
      <label for="product">Product</label>
      <input type="text" name="product" placeholder="Product" [(ngModel)]="orderDetails.product" />

      <label for="price">Price:</label>
      <input type="number" name="price" placeholder="Price" [(ngModel)]="orderDetails.price" required />

      <label for="quantity">Quantity:</label>
      <input type="number" name="quantity" placeholder="Quantity" [(ngModel)]="orderDetails.quantity" required />

      <button type="button" (click)="addProduct()">Add Product</button>
    </div>

    <h3>Added Products:</h3>
    <table *ngIf="orders.length > 0">
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let order of orders; let i = index">
        <td>{{ order.product }}</td>
        <td>{{ order.price }}</td>
        <td>{{ order.quantity }}</td>
        <td>{{ order.price * order.quantity }}</td>
        <td><button type="button" (click)="removeProduct(i)">Remove</button></td>
      </tr>
    </table>

    <p>Total: {{ total }}</p>
    <button type="submit" [disabled]="!isFormValid()">Submit</button>
  </form>
</div>

<div class="generate">
  <button (click)="generatePDF()">Download PDF</button>
</div>

<div class="view">
  <button (click)="viewPDF()">View PDF</button>
</div>

<div class="print">
  <button (click)="onPrint()">Print</button>
</div>